.dropzone-preview {
    justify-content: center !important;
}

.dropzone-preview .MuiChip-root {
    margin-top: 1rem;
}

.dropzone-container > div:first-of-type {
    min-height: 200px !important;
    border-radius: 1rem;
}

.gr-evaluation-container .dropzone-container p{
    font-size: 1.2rem !important;
}

.guard-rail-evalution button {
    background-color: #007bff;
    color: #fff;
    /* width: 120px; */
  }
  .guard-rail-evalution button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0056B3;
    color: #F0F0F0;
  }
  
  