.hamburger_menu {
  display: none;
}

.sidebar_container_main {
  /* transition: max-width 0.5s ease-in-out !important; */
  overflow-x: hidden;
  display: flex;
}

.collapsed {
  max-width: 70px;
}

.expanded {
  max-width: 180px;
}

.backgroundTheme {
  background: var(--backgroundColor);
}

.sidebarLinkText {
  color: var(--foreground);
  transition: all 0.5s ease-in;
  min-width: 100px;
}
.sidebarIcon {
  background: var(--sidebarIconBg);
}

.cross_sidebar {
  display: none;
}

@media (max-width: 768px) {
  .hamburger_menu {
    display: block;
    font-size: 30px;
    left: 10px;
  }

  .cross_sidebar {
    display: block;
    right: 10px !important;
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 30px;
  }

  .sidebar_container_main {
    display: none;
  }

  .logo_sidebar {
    width: 150px;
  }

  .showSidebar {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 256px;
    z-index: 100;
    box-shadow: grey 1px 2px 19px -5px;
  }
  .image_icon_sidebar {
    width: 15px;
    height: 15px;
  }
}

/* @media (max-width: 550px) {
  .hamburger_menu {
  }
} */
