.dashboard_card_container {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: space-between;
  width: 100%;
}
.indv_card {
  width: 33%;
  display: flex !important;
  flex-direction: row !important;
  background-color: var(--lightColor);
  border-radius: 0.5rem;
  height: 9.375rem;
  align-items: center;
  /* transform: width 0.5s ease-in-out; */
}

.card-title-name {
  font-family: var(--anek);
  font-size: 1.125rem;
  color: var(--primaryColor);
}
.card-description-box {
  font-family: var(--anek);
  color: var(--secondaryColor);
  font-size: 0.75rem;
  line-height: 120%;
}

.dashboard_card_image {
  min-height: 9.375rem !important;
  max-height: 9.375rem !important;
  max-width: 8.125rem !important;
}

@media screen and (max-width: 1160px) {
  .dashboard_card_container {
    flex-wrap: wrap;
  }
  .indv_card {
    width: 49%;
  }
}

@media screen and (max-width: 730px) {
  .dashboard_card_container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    overflow: hidden;
  }
  .indv_card {
    width: 100%;
    max-height: 10.625rem;
    display: flex;
    flex-direction: row;
    padding-right: 0.1875rem;
  }
}

@media screen and (max-width: 330px) {
  .dashboard_card_image {
    max-width: 7.5rem !important;
  }
}
