.MuiDialog-container form{
    border-radius: 10px;
    /* width: 100% !important; */
}

.create-api-dialog .label {
    text-transform: uppercase !important;
    font-size: 14px !important;
    margin-top: 12px;
    margin-bottom: 6px;
}

.create-api-dialog .MuiOutlinedInput-root {
    border-radius: 14px !important;
}

.compliance-text-input .MuiOutlinedInput-root {
    align-items: end !important;
}

.ApiKeyForm  fieldset legend{
    display: none;
}