.second_popUp_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
}

.copyBox_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.code_block_container {
  border: 1px solid #c1c0d8;
  border-radius: 4px;
}
.copy_box {
  font-size: 14px !important;
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding: 18px 16px;
  padding-right: 30px;
  gap: 16px;
  border-width: 1px;
  border: 1px solid #c1c0d8;
  box-sizing: border-box;
}

.copy_bottom {
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  line-height: 14.4px;
  letter-spacing: -4%;
  color: #8281b1;
}

.second_popup_nav_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav_indv {
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  gap: 16px;
  color: #323150;
  border: 1px solid #a1a0c5;
  cursor: pointer;
}

.copy_Icon_secondPouPop {
  top: 15px;
}

.active_nav_login {
  color: white;
  background-color: #323150;
}

@media screen and (max-width: 600px) {
  .copy_box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
  }
}
